<!DOCTYPE html>
<html>
<head><title>MyBucket Search</title></head>
<body>
  <h2>MyBucket Search</h2>
  <p>Hello, <%= user %>! This is the MyBucket Search page.</p>
  <a href="/dashboard">Back to Dashboard</a>
</body>
</html>


